<% layout('layout') -%>

<div class="container">
\<h1> the about page</h1>
<p>gfdg
b dfgfisgjgcjvdf vdfjvdfvfjkbvkdfjbvjkdbvvmvm,bsdkjvgbkdfvfvbkfvfv,
fjgjgfngn gfnhnyjujyjksyjysdjtyshthethtyrhshthtrhshtrhhh.hthtrh,ht
hhrhrthtrhtrhtrhtrhrtyjghxcgefkljbdjkn hfefkn, djfbj dfbkfef/e
erjbejfkdfnkd cvifjlvrgdfgdfg
fhduigfdg
</p>

</div>